PORT=8000
DATABASE_URL=postgresql://neondb_owner:npg_y8w4RBLTnCjS@ep-withered-fog-ajqawsrq-pooler.c-3.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
STRIPE_SECRET_KEY=your_stripe_secret_key
STRIPE_WEBHOOK_SECRET=your_webhook_secretSTRIPE_SUCCESS_URL=https://kajve.com/orden/exito
STRIPE_CANCEL_URL=https://kajve.com/orden/cancelada
RABBITMQ_URL=amqp://kajve:reyhades2005@3.234.75.28:5672/
RABBITMQ_EXCHANGE=kajve.events
